# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/log/
/target/
.DS_Store
src/.DS_Store
src/main/.DS_Store
sshkey
sshkey.pub
